<% content_for :head do %>
<%= stylesheet_link_tag    "tourbot" %>
<%= javascript_include_tag "tourbot-demo1" %>
<% end %>

<div class="page">
  <div class="intro">
    This page shows how the TourBOT works.
  </div>
  <div class="tour">
    <form>
      <fieldset>
        <label for="first-name">First Name</label>
        <input type="text" id="first-name"/>
      </fieldset>
      <fieldset>
        <label for="last-name">Last Name</label>
        <input type="text" id="last-name"/>
      </fieldset>
      <fieldset>
        <label>Gender</label>
        <input type="radio" name="gender" class="gender" value="male">Male</input>
        <input type="radio" name="gender" class="gender" value="female">Female</input>
      </fieldset>
      <fieldset class="submit">
        <input type="submit" value="Say Hello"/>
      </fieldset>
    </form>
  </div>
  <div class="hello"></div>
</div>