<% content_for :head do %>
<%= stylesheet_link_tag    "tourbot" %>
<%= javascript_include_tag "tourbot-demo2" %>
<% end %>

<div class="page">
  <div class="intro">
    Multi-page demo - part II
  </div>
  <div class="tour">
    <form>
      <% (@params || {}).each do |name, value| %>
      <input type="hidden" id="<%= name %>" value="<%= value %>"/>
      <% end %>
      <fieldset>
        <label>Gender</label>
        <input type="radio" name="gender" class="gender" value="male">Male</input>
        <input type="radio" name="gender" class="gender" value="female">Female</input>
      </fieldset>
      <fieldset class="submit">
        <input type="submit" value="Say Hello"/>
      </fieldset>
    </form>
  </div>
  <div class="hello"></div>
</div>