/*
 *= require_self
 */

.tourbot {
  position: absolute;
  color: #444;
  margin: 0 auto;
  font-size: 16px;
  line-height: 22px;
  font-family: Helvetica, Arial, sans-serif;
  z-index: 1000;
}

.tourbot * {
  padding: 0;
  margin: 0;
  list-style: none;
}

#tourbot-tab {
  text-align: center;
  cursor: pointer;
  width: 54px;
  height: 150px;
  top: 250px;
  left: -5px;
  background: transparent url(/assets/tourbot-tab2.png) no-repeat 0 0;
}

#tourbot-tab.hover {
  left: -2px;
}

#tourbot-message {
  height: 20px;
  padding-left: 30px;
  background: #ffffff url(/assets/arrow.png) no-repeat 8px 14px;
}

.tourbot.ie {
  /* border: 2px solid #111; */
}

#tourbot-tab.ie {
  top: 240px;
  left: -2px;
}