/*
 *= require_self
 */

#tourbot-tab {
  position: absolute;
  background: #fff;
  color: #444;
  margin: 0 auto;
  padding: 10px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 16px;
  -moz-box-shadow: 0 0 8px #111;
  -webkit-box-shadow: 0 0 8px #111;
  box-shadow: 0 0 8px #111;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  z-index: 1000;
}

#tourbot-tab * {
  padding: 0;
  margin: 0;
  list-style: none;
}

#tourbot-tab h2 {
  font-size: 18px;
  line-height: 20px;
  margin: 0 0 10px 0;
}

#tourbot-tab #by {
  position: absolute;
  font-size: 10px;
  bottom: 3px;
  right: 10px;
  display: block;
}

#tourbot-tab #close {
  position: absolute;
  top: 10px;
  right: 10px;
  border: 1px solid #666;
  display: block;
  font-size: 10px;
  width: 8px;
  height: 8px;
  line-height: 6px;
  text-align: center;
}

#tourbot-tab #close:hover {
  color: #999;
  border: 1px solid #999;
}

#tourbot-tab.closed {
  text-align: center;
  cursor: pointer;
  width: 120px;
  height: 20px;
  top: 300px;
  left: -55px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
}

#tourbot-tab.open {
  width: 400px;
  height: 20px;
  padding-left: 25px;
  background-image: url(/assets/arrow.png);
  background-repeat: no-repeat;
  background-position: 8px 14px;
}

#tourbot-tab.optout {
  width: 400px;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;  
}

#overlay {
  background-color: black;
  height: 100%;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 999;
  opacity: 0.5;
  -ms-filter: 'alpha(opacity=50)';
  filter: alpha(opacity=50);
}